# CenterNet meta-architecture from the "Objects as Points" [1] paper
# with the ResNet-v2-50 backbone. The ResNet backbone has a few differences
# as compared to the one mentioned in the paper, hence the performance is
# slightly worse. This config is TPU comptatible.
# [1]: https://arxiv.org/abs/1904.07850

model {
  center_net {
    num_classes: 1
    feature_extractor {
      type: "resnet_v2_50"
    }
    image_resizer {
      keep_aspect_ratio_resizer {
        min_dimension: 512
        max_dimension: 512
        pad_to_max_dimension: true
      }
    }
    object_detection_task {
      task_loss_weight: 1.0
      offset_loss_weight: 1.0
      scale_loss_weight: 0.1
      localization_loss {
        l1_localization_loss {
        }
      }
    }
    object_center_params {
      object_center_loss_weight: 1.0
      min_box_overlap_iou: 0.7
      max_box_predictions: 10
      classification_loss {
        penalty_reduced_logistic_focal_loss {
          alpha: 2.0
          beta: 4.0
        }
      }
    }

    keypoint_label_map_path: "gs://[GCLOUD_STORAGE_PATH]/cat_with_keypoints_label_map.pbtxt"
    keypoint_estimation_task {
      task_name: "[TASK_NAME]"
      task_loss_weight: 1.0
      loss {
        localization_loss {
          l1_localization_loss {
          }
        }
        classification_loss {
          penalty_reduced_logistic_focal_loss {
            alpha: 2.0
            beta: 4.0
          }
        }
      }
      keypoint_class_name: "cat"
      keypoint_label_to_std {
        key: "l_eye"
        value: 0.25
      }
      keypoint_label_to_std {
        key: "r_eye"
        value: 0.25
      }
      keypoint_label_to_std {
        key: "l_ear"
        value: 0.35
      }
      keypoint_label_to_std {
        key: "r_ear"
        value: 0.35
      }
      keypoint_label_to_std {
        key: "nose"
        value: 0.26
      }
      keypoint_label_to_std {
        key: "tail"
        value: 0.6
      }
      keypoint_label_to_std {
        key: "l_f_elbow"
        value: 0.79
      }
      keypoint_label_to_std {
        key: "r_f_elbow"
        value: 0.79
      }
      keypoint_label_to_std {
        key: "l_b_elbow"
        value: 1.07
      }
      keypoint_label_to_std {
        key: "r_b_elbow"
        value: 1.07
      }
      keypoint_label_to_std {
        key: "l_f_knee"
        value: 0.72
      }
      keypoint_label_to_std {
        key: "r_f_knee"
        value: 0.72
      }
      keypoint_label_to_std {
        key: "l_b_knee"
        value: 0.89
      }
      keypoint_label_to_std {
        key: "r_b_knee"
        value: 0.89
      }
      keypoint_label_to_std {
        key: "l_f_paw"
        value: 0.62
      }
      keypoint_label_to_std {
        key: "r_f_paw"
        value: 0.62
      }
      keypoint_label_to_std {
        key: "l_b_paw"
        value: 0.7
      }
      keypoint_label_to_std {
        key: "r_b_paw"
        value: 0.7
      }
      keypoint_label_to_std {
        key: "withers"
        value: 0.8
      }
      keypoint_regression_loss_weight: 0.1
      keypoint_heatmap_loss_weight: 1.0
      keypoint_offset_loss_weight: 1.0
      offset_peak_radius: 3
      per_keypoint_offset: true
    }
  }
}

train_config: {

  batch_size: 8
  num_steps: 15000
  
  data_augmentation_options {
    random_horizontal_flip {
      keypoint_flip_permutation: 1
      keypoint_flip_permutation: 0
      keypoint_flip_permutation: 3
      keypoint_flip_permutation: 2
      keypoint_flip_permutation: 4
      keypoint_flip_permutation: 5
      keypoint_flip_permutation: 7
      keypoint_flip_permutation: 6
      keypoint_flip_permutation: 9
      keypoint_flip_permutation: 8
      keypoint_flip_permutation: 11
      keypoint_flip_permutation: 10
      keypoint_flip_permutation: 13
      keypoint_flip_permutation: 12
      keypoint_flip_permutation: 15
      keypoint_flip_permutation: 14
      keypoint_flip_permutation: 17
      keypoint_flip_permutation: 16
      keypoint_flip_permutation: 18
    }
  }
  
  optimizer {
    adam_optimizer: {
      epsilon: 1e-7  # Match tf.keras.optimizers.Adam's default.
      learning_rate: {
        cosine_decay_learning_rate {
          learning_rate_base: 0.0016
          total_steps: 15000
          warmup_learning_rate: 2.5e-4
          warmup_steps: 800
        }
      }
    }
    use_moving_average: false
  }
  max_number_of_boxes: 10
  unpad_groundtruth_tensors: false

  fine_tune_checkpoint_version: V2
  fine_tune_checkpoint: "gs://[GCLOUD_STORAGE_PATH]/centernet_resnet50_v2_512x512_kpts_coco17_tpu-8/checkpoint/ckpt-0"
  fine_tune_checkpoint_type: "detection"
}

train_input_reader: {
  label_map_path: "gs://[GCLOUD_STORAGE_PATH]/cat_with_keypoints_label_map.pbtxt"
  tf_record_input_reader {
    input_path: "gs://[GCLOUD_STORAGE_PATH]/tfrecords-00000-of-00001"
  }
  num_keypoints: 19
}

eval_config: {
  metrics_set: "coco_detection_metrics"
  use_moving_averages: false
  num_visualizations: 10
  max_num_boxes_to_visualize: 10
  min_score_threshold: 0.2
  batch_size: 1;
  parameterized_metric {
    coco_keypoint_metrics {
      keypoint_label_to_sigmas {
        key: "l_eye"
        value: 0.25
      }
      keypoint_label_to_sigmas {
        key: "r_eye"
        value: 0.25
      }
      keypoint_label_to_sigmas {
        key: "l_ear"
        value: 0.35
      }
      keypoint_label_to_sigmas {
        key: "r_ear"
        value: 0.35
      }
      keypoint_label_to_sigmas {
        key: "nose"
        value: 0.26
      }
      keypoint_label_to_sigmas {
        key: "tail"
        value: 0.6
      }
      keypoint_label_to_sigmas {
        key: "l_f_elbow"
        value: 0.79
      }
      keypoint_label_to_sigmas {
        key: "r_f_elbow"
        value: 0.79
      }
      keypoint_label_to_sigmas {
        key: "l_b_elbow"
        value: 1.07
      }
      keypoint_label_to_sigmas {
        key: "r_b_elbow"
        value: 1.07
      }
      keypoint_label_to_sigmas {
        key: "l_f_knee"
        value: 0.72
      }
      keypoint_label_to_sigmas {
        key: "r_f_knee"
        value: 0.72
      }
      keypoint_label_to_sigmas {
        key: "l_b_knee"
        value: 0.89
      }
      keypoint_label_to_sigmas {
        key: "r_b_knee"
        value: 0.89
      }
      keypoint_label_to_sigmas {
        key: "l_f_paw"
        value: 0.62
      }
      keypoint_label_to_sigmas {
        key: "r_f_paw"
        value: 0.62
      }
      keypoint_label_to_sigmas {
        key: "l_b_paw"
        value: 0.7
      }
      keypoint_label_to_sigmas {
        key: "r_b_paw"
        value: 0.7
      }
      keypoint_label_to_sigmas {
        key: "withers"
        value: 0.8
      }
    }
  }
  # Provide the edges to connect the keypoints. The setting is suitable for
  # COCO's 17 cat pose keypoints.
  keypoint_edge {  
    start: 0
    end: 1
  }
  keypoint_edge { 
    start: 0
    end: 2
  }
  keypoint_edge {  
    start: 1
    end: 3
  }
  keypoint_edge {  
    start: 2
    end: 4
  }
  keypoint_edge {  
    start: 0
    end: 5
  }
  keypoint_edge { 
    start: 0
    end: 6
  }
  keypoint_edge {  
    start: 5
    end: 7
  }
  keypoint_edge { 
    start: 7
    end: 9
  }
  keypoint_edge {  
    start: 6
    end: 8
  }
  keypoint_edge {  
    start: 8
    end: 10
  }
  keypoint_edge {  
    start: 5
    end: 6
  }
  keypoint_edge {  
    start: 5
    end: 11
  }
  keypoint_edge {  
    start: 6
    end: 12
  }
  keypoint_edge {  
    start: 11
    end: 12
  }
  keypoint_edge {  
    start: 11
    end: 13
  }
  keypoint_edge {  
    start: 13
    end: 15
  }
  keypoint_edge {  
    start: 12
    end: 14
  }
  keypoint_edge { 
    start: 14
    end: 16
  }
}

eval_input_reader: {
  label_map_path: "gs://[GCLOUD_STORAGE_PATH]/cat_with_keypoints_label_map.pbtxt"
  shuffle: false
  num_epochs: 1
  tf_record_input_reader {
    input_path: "gs://[GCLOUD_STORAGE_PATH]/tfrecords-00000-of-00001"
  }
  num_keypoints: 19
}
